[submodule "nexteditor-core"]
	path = nexteditor-core
	url = ./nexteditor-core
[submodule "nexteditor-sharedb"]
	path = nexteditor-sharedb
	url = ./nexteditor-sharedb
[submodule "nexteditor-yjs"]
	path = nexteditor-yjs
	url = ./nexteditor-yjs
[submodule "nexteditor-table-block"]
	path = nexteditor-table-block
	url = ./nexteditor-table-block
[submodule "nexteditor-yjs-server"]
	path = nexteditor-yjs-server
	url = ./nexteditor-yjs-server
[submodule "nexteditor-sharedb-server"]
	path = nexteditor-sharedb-server
	url = ./nexteditor-sharedb-server
[submodule "nexteditor-examples"]
	path = nexteditor-examples
	url = ./nexteditor-examples
[submodule "delta"]
	path = delta
	url = ./delta
[submodule "nexteditor-input-handlers"]
	path = nexteditor-input-handlers
	url = ./nexteditor-input-handlers
[submodule "nexteditor-test"]
	path = nexteditor-test
	url = ./nexteditor-test
[submodule "nexteditor-ui"]
	path = nexteditor-ui
	url = ./nexteditor-ui
[submodule "nexteditor-list-block"]
	path = nexteditor-list-block
	url = ./nexteditor-list-block
[submodule "nexteditor-code-block"]
	path = nexteditor-code-block
	url = ./nexteditor-code-block
[submodule "nexteditor-ui-base"]
	path = nexteditor-ui-base
	url = ./nexteditor-ui-base/
